body {
	font-family: Calibri;
}

h1 {
	background-color: #292961;
	color: white;
	padding: 10px;
	padding-left: 20px;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

h2 {
	font-size: 30px;
	color: #444444;
}

.stocks_line_vs_market {
	margin: auto;
	width: 100%;
	padding: 0;
}

#stocks_info {
	text-align: center;
}

.box {
	text-align: center;
	width: 25%;
	min-width: 200px;
	padding: 20px;
	margin: 20px;
	background-color: #e9f6f9;
	border-radius: 10px;
	display: inline-block;
}

.box h3 {
	margin-top: 0px;
}

#stocks_best, #stocks_worst, #stocks_success {
	width: 30%;
	min-width: 380px;
	display: inline-block;
}

.table {
	margin: auto;
	border-collapse: collapse;
}

.table thead {
	font-weight: bold;
}

.table tr {
	border-top: 1px solid gray;
}

.table thead tr {
	border-top: 0;
}

.table tr td {
	text-align: right;
	padding: 5px;
}

.table tr td:first-child {
	text-align: left;
}

.table tbody tr:first-child {
	background-color: #fcf3cf;
}

